<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home PAGE</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/25/25694.png" type="image/x-icon">
    <style>
        body {
            background-color: whitesmoke;
        }
        h3{
            color: red;
            text-align: center;
            font-family: "Agency FB";

        }
        p{
            color: red;
            font-family: "Baskerville Old Face";
        }

    </style>
</head>
<body>
    <h3>A guide to using the Weather site</h3>

    <p>First put <b style="color: red">"/city"</b> in the url!</p>
    <p>Second, enter <b style="color: red">"/city_name"</b> in the url and enjoy the site!</p>

</body>
</html>